/* Header block */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 92px 50px 96px;
  grid-template-columns: 1fr min-content 1fr;

  .link-active {
    text-decoration: none;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 4.3px;
    text-decoration-thickness: 1px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: circle;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    gap: 0 32px;
    margin-right: 40.48px;
  }

  li:first-child {
    list-style: none;
  }
}

.logo {
  width: 148px;
  height: 105px;
  margin-right: 184.5px;
}

.address {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

/* Main block */

/* Cover */

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  margin-bottom: 179px;
  background: url("../images/cover.jpg") no-repeat center/cover;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  z-index: 1;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.cover-content {
  position: relative;
  z-index: 2;
}

.cover-title {
  position: relative;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 0;

  span:first-child {
    padding-top: 0;
    line-height: 115%;
  }

  span {
    padding-top: 12px;
    line-height: 100%;
  }

  span:last-child {
    padding-top: 6px;
  }

  .aligned-text-left {
    text-align: left;
  }

  .aligned-text-center {
    text-align: center;
  }

  .aligned-text-right {
    text-align: right;
  }

  .letter-spacing-extended {
    letter-spacing: 60px;
  }

  .no-letter-spacing {
    letter-spacing: 0;
  }
}

.cover-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 127px 50px 0 82px;
}

.cover-description-text {
  color: #fff;

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.2px;
  white-space: nowrap;
}

.cover-button {
  color: #fff;
  font-family: inherit;

  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  border: 1px solid currentColor;
  background: transparent;

  padding: 12px 32px 11px 31px;
}

/* Lots */

.lots {
  position: relative;
  padding: 0 24px;
  margin-bottom: 148px;
}

.lots-title {
  color: #000;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 27px;

  padding-left: 40px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  list-style-type: none;

  a {
    text-decoration: none;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 334px;
  min-height: 563px;
  padding: 48px 40px;
}

.card-book {
  background: url("../images/card-lot-02.jpg") no-repeat center/cover;
}

.card-film {
  background: url("../images/card-lot-01.jpg") no-repeat center/cover;
}

.card-picture {
  background: url("../images/card-lot-03.jpg") no-repeat center/cover;
}

.card-content {
  position: relative;
  z-index: 2;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-title {
  color: #fff;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;

  text-decoration: underline;
  text-underline-offset: 3.5px;
}

.card-text {
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lots-link {
  padding-left: 40px;
  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: underline;
  text-underline-offset: 4.3px;
  text-decoration-thickness: 1px;
}

/* About */

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 24px 0;
  margin-bottom: 178px;
}

.about-logo {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 47px;

  img {
    position: relative;
    width: 148px;
    height: 114px;
  }
}

.about-column {
  display: flex;
  flex-direction: column;
  max-width: 693px;
  padding-top: 100px;
}

.about-title {
  color: #000;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 101px;
}

.about-text {
  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Footer block */

.footer {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  padding: 0 50px;
  margin-bottom: 91px;

  .link-active {
    text-decoration: none;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 4.2px;
    text-decoration-thickness: 1px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: #000;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.footer-social {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style-type: none;

  gap: 0 48px;

  img {
    width: 48px;
    height: 48px;
  }
}
